@model TravelPlanner2.Models.User
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var avatars = ViewBag.AvatarOptions as List<string> ?? new List<string>();
}

<h2>Edit Your Profile</h2>

@using (Html.BeginForm("EditProfile", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Role)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Current Password")
        <input type="password" name="CurrentPassword" class="form-control" />
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password, "New Password")
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Choose Profile Picture</label>
        <div class="d-flex flex-wrap">
            @foreach (var avatar in avatars)
            {
                <div class="m-2 text-center">
                    <input type="radio" name="SelectedAvatar" value="@avatar" id="avatar_@Path.GetFileNameWithoutExtension(avatar)" @(Model.ProfilePicturePath == avatar ? "checked" : "") />
                    <label for="avatar_@Path.GetFileNameWithoutExtension(avatar)">
                        <img src="@Url.Content(avatar)" alt="Avatar" width="80" height="80" class="rounded-circle" />
                    </label>
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-success">Save Changes</button>
    <a href="@Url.Action("Profile", "Users")" class="btn btn-secondary">Cancel</a>
}
